# Secrets & API Keys (Universal)
**/lib/api_keys.dart
**/*.dart.example
**/.env*

# Supabase (Universal)
**/supabase/.branches
**/supabase/.temp

# IDEs, System, and Dependencies
.idea/
.vscode/
*.iml
node_modules/
.DS_Store
build/
.dart_tool/
